.trashButton {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .trashBin {
    position: relative;
    width: 15px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trashIcon {
    font-size: 15px; 
  }
  
  .lid {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px; 
    height: 5px;
    background-color: gray;
    border-radius: 3px;
    transform-origin: left center;
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }
  
  .animate .lid {
    transform: rotate(-45deg);
  }
  
  